@media all and (max-width:1070px)
{
    .navbar{
    
    }
    .nav>ul>li>a {
        font-size:0.9rem;
        padding: 10px;
    }
    .navbtn{
        justify-content: center;
        
    }
    
    .navbtn>button {
        margin: 5px;
        height: 40px;
        width:60px;
        font-size:0.7rem;
        flex-direction:column;
        text-align:center;
        padding:5px;
    }
}
@media all and (max-width:800px)
{

 .navbar {
    flex-direction: column;
    height:120px;

}
.nav ul {
    justify-content: space-between;
    width: 100%;


}

.nav>ul>li>a {
    font-size: 0.9rem;
    padding: 5px;
}

.navbtn {
    justify-content: center;
}
.navbtn>button {
    margin: 10px;
    height: 40px;
    flex-direction:column;
    width:70px;
}
.logo {
    width: 70px;
    height: 50px;
    padding: 0px;

}

.logo>img {
    width: 100%;
    height: 40px;
}

.image>img {
    height: 100vh;

}
}
@media all and (max-width:524px) 
{

.navbar {
    height: 100%;
    position: static;
}

.nav {
    flex-direction: column;
}

.logo>img {
    height: 50px;
    width: 100px;
}

.nav ul {
    flex-direction: column;

}
.nav>ul>li>a {
    font-size: 1.2rem;
}

.image>img {
    height: 100vh;
    
}
.attractionshead>h1{
    font-size:1.4rem;
    text-align:center;
    color:#4a4e69;
    padding:10px;
    font-family: 'Acme', sans-serif;
    font-weight:normal;
}
.attractionshead>p{
    font-size:1rem;
    text-align:center;
    color:#4a4e69;
    padding:10px;
    font-family:'Josefin Sans', sans-serif;
}
.birdpark>img
{
    width:250px;
    height:150px;
}
.aquarium>img
{
    width:250px;
    height:150px;
}
.hauntedhospital>img
{
    width:250px;
    height:150px;
}
.horrorhouse>img
{
    width:250px;
    height:150px;
}
.animalwatchtower>img
{
    width:250px;
    height:150px;
}
.boathouse>img
{
    width:250px;
    height:150px;
}
.cargonet>img
{
    width:250px;
    height:150px;
}
.fishpond>img
{
    width:250px;
    height:150px;
}
.rainforest>img
{
    width:250px;
    height:150px;
}
}